In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data2018.csv')
data.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,OPTS
0,1.0,Atlanta Hawks,82,19855,3392,7524,0.451,1067,3034,0.352,...,955,2825,3780,2118,675,419,1397,1932,9294,9788
1,2.0,Boston Celtics,82,19780,3451,7423,0.465,1032,2829,0.365,...,804,2849,3653,2155,706,435,1052,1670,9216,8852
2,3.0,Brooklyn Nets,82,19980,3301,7358,0.449,1047,2965,0.353,...,900,2919,3819,1954,539,339,1236,1763,9204,9210
3,4.0,Charlotte Hornets,82,19830,3297,7362,0.448,977,2783,0.351,...,814,2778,3592,1905,591,405,1001,1550,9081,9171
4,5.0,Chicago Bulls,82,19905,3266,7205,0.453,745,2123,0.351,...,718,2799,3517,1796,603,351,1159,1663,8605,9295

In [7]:
print(data.columns)

Index(['Rk', 'Team', 'G', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P',
       '2PA', '2P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'OPTS'],
      dtype='object')

In [3]:
data = data.iloc[:,[1,5,14,16,22,24,25]]
data.head()

                Team   FGA   FTA  ORB   TOV   PTS  OPTS
0      Atlanta Hawks  7524  1918  955  1397  9294  9788
1     Boston Celtics  7423  1598  804  1052  9216  8852
2      Brooklyn Nets  7358  2088  900  1236  9204  9210
3  Charlotte Hornets  7362  1895  814  1001  9081  9171
4      Chicago Bulls  7205  1695  718  1159  8605  9295

In [4]:
[row, col] = data.shape
for i in range(row):
    data.loc[i,'POS'] = ((data.loc[i,'FGA']+data.loc[i,'TOV'])-(data.loc[i,'ORB']+(0.4*data.loc[i,'FTA'])))
data.head()

                Team   FGA   FTA  ORB   TOV   PTS  OPTS     POS
0      Atlanta Hawks  7524  1918  955  1397  9294  9788  7198.8
1     Boston Celtics  7423  1598  804  1052  9216  8852  7031.8
2      Brooklyn Nets  7358  2088  900  1236  9204  9210  6858.8
3  Charlotte Hornets  7362  1895  814  1001  9081  9171  6791.0
4      Chicago Bulls  7205  1695  718  1159  8605  9295  6968.0

In [5]:
data = data.iloc[:-1,:]
data

                      Team   FGA   FTA   ORB   TOV   PTS  OPTS     POS
0            Atlanta Hawks  7524  1918   955  1397  9294  9788  7198.8
1           Boston Celtics  7423  1598   804  1052  9216  8852  7031.8
2            Brooklyn Nets  7358  2088   900  1236  9204  9210  6858.8
3        Charlotte Hornets  7362  1895   814  1001  9081  9171  6791.0
4            Chicago Bulls  7205  1695   718  1159  8605  9295  6968.0
5      Cleveland Cavaliers  7184  1694   879  1106  8567  9355  6733.4
6         Dallas Mavericks  7122  2076   832  1167  8927  9032  6626.6
7           Denver Nuggets  7384  1714   972  1102  9075  8751  6828.4
8          Detroit Pistons  7238  1893   936  1135  8778  8798  6679.8
9    Golden State Warriors  7361  1672   797  1169  9650  9120  7064.2
10         Houston Rockets  7163  2001   836  1094  9341  8950  6620.6
11          Indiana Pacers  7135  1727   762  1122  8857  8584  6804.2
12    Los Angeles Clippers  7178  2340   796  1193  9442  9372  6639.0
13      Los Angeles Lakers  7425  1910   835  1284  9165  9306  7110.0
14       Memphis Grizzlies  6924  1882   723  1147  8490  8703  6595.2
15              Miami Heat  7218  1782   921  1208  8668  8687  6792.2
16         Milwaukee Bucks  7471  1904   762  1137  9686  8959  7084.4
17  Minnesota Timberwolves  7483  1995   923  1074  9223  9346  6836.0
18    New Orleans Pelicans  7563  1921   909  1215  9466  9575  7100.6
19         New York Knicks  7241  1956   857  1151  8575  9330  6752.6
20   Oklahoma City Thunder  7706  2049  1031  1145  9387  9108  7000.4
21           Orlando Magic  7307  1575   822  1082  8800  8742  6937.0
22      Philadelphia 76ers  7233  2258   892  1223  9445  9224  6660.8
23            Phoenix Suns  7164  1858   748  1279  8815  9581  6951.8
24  Portland Trail Blazers  7427  1914   967  1135  9402  9058  6829.4
25        Sacramento Kings  7637  1865   906  1095  9363  9455  7080.0
26       San Antonio Spurs  7248  1720   757   992  9156  9018  6795.0
27         Toronto Raptors  7305  1803   786  1150  9384  8885  6947.8
28               Utah Jazz  7082  2092   820  1240  9161  8730  6665.2
29      Washington Wizards  7387  1963   794  1154  9350  9588  6961.8

In [6]:
[row, col] = data.shape
for i in range(row):
    data.loc[i,'OER'] = (data.loc[i,'PTS']/data.loc[i,'POS'])*100
    data.loc[i,'DER'] = (data.loc[i,'OPTS']/data.loc[i,'POS'])*100

In [7]:
oeravg = data.loc[:,'OER'].mean(axis=0)
deravg = data.loc[:,'DER'].mean(axis=0)
print(oeravg)
print(deravg)

132.87107514458236
132.8708876840753

In [8]:
for i in range(row):
    data.loc[i,'Odiff'] = data.loc[i,'OER']-oeravg
    data.loc[i,'Ddiff'] = data.loc[i,'DER']-deravg
    data.loc[i,'Tempo'] = data.loc[i,'POS']/82

In [9]:
tempoavg = data.loc[:,'Tempo'].mean(axis=0)
print(tempoavg)

83.71739837398374

In [10]:
for i in range(row):
    data.loc[i,'Tdiff'] = data.loc[i,'Tempo']-tempoavg
data

,Team,FGA,FTA,ORB,TOV,PTS,OPTS,POS,OER,DER,Odiff,Ddiff,Tempo,Tdiff
0,Atlanta Hawks,7524,1918,955,1397,9294,9788,7198.8,129.104851,135.967106,-3.766224,3.096218,87.790244,4.072846
1,Boston Celtics,7423,1598,804,1052,9216,8852,7031.8,131.061748,125.885264,-1.809327,-6.985624,85.753659,2.036260
2,Brooklyn Nets,7358,2088,900,1236,9204,9210,6858.8,134.192570,134.280049,1.321495,1.409161,83.643902,-0.073496
3,Charlotte Hornets,7362,1895,814,1001,9081,9171,6791.0,133.721101,135.046385,0.850026,2.175497,82.817073,-0.900325
4,Chicago Bulls,7205,1695,718,1159,8605,9295,6968.0,123.493111,133.395522,-9.377964,0.524635,84.975610,1.258211
5,Cleveland Cavaliers,7184,1694,879,1106,8567,9355,6733.4,127.231414,138.934268,-5.639662,6.063380,82.114634,-1.602764
6,Dallas Mavericks,7122,2076,832,1167,8927,9032,6626.6,134.714635,136.299158,1.843560,3.428270,80.812195,-2.905203
7,Denver Nuggets,7384,1714,972,1102,9075,8751,6828.4,132.900826,128.155937,0.029751,-4.714951,83.273171,-0.444228
8,Detroit Pistons,7238,1893,936,1135,8778,8798,6679.8,131.411120,131.710530,-1.459955,-1.160357,81.460976,-2.256423
9,Golden State Warriors,7361,1672,797,1169,9650,9120,7064.2,136.604286,129.101668,3.733211,-3.769220,86.148780,2.431382
10,Houston Rockets,7163,2001,836,1094,9341,8950,6620.6,141.089931,135.184122,8.218856,2.313235,80.739024,-2.978374
11,Indiana Pacers,7135,1727,762,1122,8857,8584,6804.2,130.169601,126.157373,-2.701474,-6.713514,82.978049,-0.739350
12,Los Angeles Clippers,7178,2340,796,1193,9442,9372,6639.0,142.220214,141.165838,9.349139,8.294951,80.963415,-2.753984
13,Los Angeles Lakers,7425,1910,835,1284,9165,9306,7110.0,128.902954,130.886076,-3.968122,-1.984812,86.707317,2.989919
14,Memphis Grizzlies,6924,1882,723,1147,8490,8703,6595.2,128.729985,131.959607,-4.141090,-0.911281,80.429268,-3.288130
15,Miami Heat,7218,1782,921,1208,8668,8687,6792.2,127.616972,127.896705,-5.254103,-4.974183,82.831707,-0.885691
16,Milwaukee Bucks,7471,1904,762,1137,9686,8959,7084.4,136.722941,126.460956,3.851865,-6.409931,86.395122,2.677724
17,Minnesota Timberwolves,7483,1995,923,1074,9223,9346,6836.0,134.918081,136.717379,2.047006,3.846491,83.365854,-0.351545
18,New Orleans Pelicans,7563,1921,909,1215,9466,9575,7100.6,133.312678,134.847759,0.441603,1.976872,86.592683,2.875285
19,New York Knicks,7241,1956,857,1151,8575,9330,6752.6,126.988123,138.169002,-5.882952,5.298114,82.348780,-1.368618
20,Oklahoma City Thunder,7706,2049,1031,1145,9387,9108,7000.4,134.092338,130.106851,1.221262,-2.764037,85.370732,1.653333
21,Orlando Magic,7307,1575,822,1082,8800,8742,6937.0,126.855990,126.019893,-6.015086,-6.850994,84.597561,0.880163
22,Philadelphia 76ers,7233,2258,892,1223,9445,9224,6660.8,141.799784,138.481864,8.928709,5.610976,81.229268,-2.488130
23,Phoenix Suns,7164,1858,748,1279,8815,9581,6951.8,126.801692,137.820421,-6.069383,4.949533,84.778049,1.060650
24,Portland Trail Blazers,7427,1914,967,1135,9402,9058,6829.4,137.669488,132.632442,4.798413,-0.238446,83.285366,-0.432033
25,Sacramento Kings,7637,1865,906,1095,9363,9455,7080.0,132.245763,133.545198,-0.625312,0.674310,86.341463,2.624065
26,San Antonio Spurs,7248,1720,757,992,9156,9018,6795.0,134.746137,132.715232,1.875062,-0.155656,82.865854,-0.851545
27,Toronto Raptors,7305,1803,786,1150,9384,8885,6947.8,135.064337,127.882207,2.193262,-4.988680,84.729268,1.011870
28,Utah Jazz,7082,2092,820,1240,9161,8730,6665.2,137.445238,130.978815,4.574163,-1.892072,81.282927,-2.434472
29,Washington Wizards,7387,1963,794,1154,9350,9588,6961.8,134.304347,137.723003,1.433271,4.852115,84.900000,1.182602

In [55]:
def GameSim(team1, team2):
    team1odiff = np.random.normal(data.loc[data['Team']==team1,'OER'],scale=5)-oeravg
    team1ddiff = np.random.normal(data.loc[data['Team']==team1,'DER'],scale=5)-deravg
    team2odiff = np.random.normal(data.loc[data['Team']==team2,'OER'],scale=5)-oeravg
    team2ddiff = np.random.normal(data.loc[data['Team']==team2,'DER'],scale=5)-deravg
    team1expeff = (oeravg + team1odiff + team2ddiff)*(1.02)
    team2expeff = (oeravg + team2odiff + team1ddiff)*(0.98)
    matchtempo = data.loc[data['Team']==team1,'Tdiff'].to_numpy()+data.loc[data['Team']==team2,'Tdiff'].to_numpy()+tempoavg
    team1score = (team1expeff/100)*matchtempo
    team2score = (team2expeff/100)*matchtempo
    score = [team1score, team2score]
    return score

In [66]:
def simulator(team1, team2):
    team1win = 0
    team2win = 0
    team1score = 0
    team2score = 0
    matchcount=0
    for i in range(10000):
        gm = GameSim(team1,team2)
        if gm[0] > gm[1]:
            team1win+=1
        elif gm[0]<gm[1]:
            team2win+=1
        else:
            matchcount-=1
        team1score+=gm[0]
        team2score+=gm[1]
        matchcount+=1
    #if team1win>team2win:
     #   return 1
    #elif team1win<team2win:
     #   return 0
    print(team1, 'chances of winning = ',(team1win/matchcount)*100,'%')
    print(team2, 'chances of winning = ',(team2win/matchcount)*100,'%')
    print(team1, 'possible score = ',(round((team1score/matchcount)[0])))
    print(team2, 'possible score = ',(round((team2score/matchcount)[0])))

In [70]:
simulator('New York Knicks', 'Golden State Warriors')

New York Knicks chances of winning =  8.64 %
Golden State Warriors chances of winning =  91.36 %
New York Knicks possible score =  107.0
Golden State Warriors possible score =  118.0

In [40]:
n=100
print(np.random.normal(n,scale=15))

113.00291681585703

In [50]:
match = pd.read_csv('data.csv')
match.head()

,Date,AwayTeam,AwayPTS,HomeTeam,HomePTS
0,"Tue, Oct 16, 2018",Philadelphia 76ers,87,Boston Celtics,105
1,"Tue, Oct 16, 2018",Oklahoma City Thunder,100,Golden State Warriors,108
2,"Wed, Oct 17, 2018",Milwaukee Bucks,113,Charlotte Hornets,112
3,"Wed, Oct 17, 2018",Brooklyn Nets,100,Detroit Pistons,103
4,"Wed, Oct 17, 2018",Memphis Grizzlies,83,Indiana Pacers,111

In [61]:
match.loc[0,'HomeTeam']

'Boston Celtics'

In [53]:
[rowm,colm] = match.shape
for i in range(rowm):
    if match.iloc[i,4]>match.iloc[i,2]:
        match.loc[i,'Winner'] = match.iloc[i,3]
    elif match.iloc[i,4]<match.iloc[i,2]:
        match.loc[i,'Winner'] = match.iloc[i,1]
match.head()

,Date,AwayTeam,AwayPTS,HomeTeam,HomePTS,Winner
0,"Tue, Oct 16, 2018",Philadelphia 76ers,87,Boston Celtics,105,Boston Celtics
1,"Tue, Oct 16, 2018",Oklahoma City Thunder,100,Golden State Warriors,108,Golden State Warriors
2,"Wed, Oct 17, 2018",Milwaukee Bucks,113,Charlotte Hornets,112,Milwaukee Bucks
3,"Wed, Oct 17, 2018",Brooklyn Nets,100,Detroit Pistons,103,Detroit Pistons
4,"Wed, Oct 17, 2018",Memphis Grizzlies,83,Indiana Pacers,111,Indiana Pacers

In [62]:
count=0
for i in range(rowm):
    game = simulator(match.loc[i,'HomeTeam'],match.loc[i,'AwayTeam'])
    if game == 1:
        match.loc[i,'Predicted'] = match.loc[i,'HomeTeam']
    elif game ==0:
        match.loc[i,'Predicted'] = match.loc[i,'AwayTeam']
    if match.loc[i,'Winner'] == match.loc[i,'Predicted']:
        count+=1
print((count/rowm)*100)

KeyboardInterrupt:

In [65]:
match.head()

,Date,AwayTeam,AwayPTS,HomeTeam,HomePTS,Winner,Predicted
0,"Tue, Oct 16, 2018",Philadelphia 76ers,87,Boston Celtics,105,Boston Celtics,Boston Celtics
1,"Tue, Oct 16, 2018",Oklahoma City Thunder,100,Golden State Warriors,108,Golden State Warriors,Golden State Warriors
2,"Wed, Oct 17, 2018",Milwaukee Bucks,113,Charlotte Hornets,112,Milwaukee Bucks,Milwaukee Bucks
3,"Wed, Oct 17, 2018",Brooklyn Nets,100,Detroit Pistons,103,Detroit Pistons,Detroit Pistons
4,"Wed, Oct 17, 2018",Memphis Grizzlies,83,Indiana Pacers,111,Indiana Pacers,Indiana Pacers